// Colors
$color-primary: #005596;
$color-primary-font: white;
$color-secondary: #072d49;
$color-secondary-font: #3275a7;
$color-font: #8a8a8a;
$color-black: #000313;
$color-white: #f3f2f7;
$color-ok: #55ff55;
$color-warning: #ff9e3e;
$color-danger: #ff2626;

// Font
$font-muli: 'Muli', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-roboto: 'Roboto', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-titillium: 'Titillium Web', sans-serif;
$font-line-height: 1.6rem;
$font-size: 1.6rem;
$font-size-large: 7rem;
$font-size-medium: 3rem;
$font-size-small: 1.2rem;
$font-weight: 400;

// Spacing
$xs-size: 1rem;
$s-size: 1.5rem;
$m-size: 2.8rem;
$xm-size: 3rem;
$l-size: 5rem;
$xl-size: 6rem;
