.banner-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1rem;
  margin: 0.1rem;
}

.banner__icon {
  display: block;
  text-align: center;
  height: 7.8rem;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  color: $color-white;
  transition: all 0.3s ease;

  span {
    font-size: $font-size-small;
    display: block;
  }

  .icon {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &.light {
    background-color: #246da4;
    &:hover {
      background-color: darken(#246da4, 10%);
    }
  }

  &.dark {
    background-color: #5d96b3;
    &:hover {
      background-color: darken(#5d96b3, 10%);
    }
  }
}
