* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $color-white url('images/paper_fibers.png');
  color: $color-font;
  font-family: $font-roboto;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $font-line-height;
  overflow-x: hidden;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

* {
  box-sizing: border-box;
}
